@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

/* define custom properties by putting them in a scope*/
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex; /*puts numbers in flex row */
  justify-content: space-between; /*take remaining space between numbers and put around the elements*/
  /* position so can place things inside of it absolute */
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  /* need content when using before or after */
  content:''; 
  /* faint grey line behind it */
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  height: 4px;
  width: 100%; /*rep the empty line behind it*/
  /* set behind circles */
  z-index: -1;
}

/* create progress line */
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  /* set behind circles */
  z-index: -1;
  transition: .4s ease;
}

/* circles */

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  /* dispaly items in circles center: */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: .4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}